.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar {
    width: 60px;
    height: 60px;
    border-radius: 10px;
}

.dashboard-table td {
    text-align: center;
}

.sidebar {
    background-color: red;
    height: 100vh;
}

.col-6 {
    width: 40px;
    background-color: blue;
}

.grid-container {
    display: grid;
    grid-template-areas: 
    'header header header header header header header header header header header header'
    'menu menu main main main main main main main main main main '
    'menu menu main main main main main main main main main main '
    'menu menu main main main main main main main main main main '
    'menu menu main main main main main main main main main main '
    'menu menu main main main main main main main main main main '
    ;
    height: 100vh;
}
.footer {
    grid-area: footer;
    color: black;
    height: 30px;
    border: 1px solid red;
}

.menu {
    grid-area: menu;
    border: 1px solid black;
    height: 100vh;
}

.header {
    grid-area: header;
    border: 1px solid red;
}

.main {
    grid-area: main;
    border: 1px solid black;
}